table.card,table.win {
  text-align:center; 
  border:2px solid #000;
  margin-left:auto; 
  margin-right:auto;
  width:500px; 
  height:500px;
  margin-bottom:10px;
}
table.win {
  border:2px solid #0F0;
}
table.card td, table.win td { 
  border:1px solid #000;
  width:100px; 
  height:100px;
  padding:2px;
  font-weight:bold;
  font-size:10pt; 
} 
table.card td:hover, table.win td:hover { 
  background-color:#AAA;
}
table.card td.clicked, table.win td.clicked { 
  background-color:#CCC;
}
table.card td.clicked:hover, table.win td.clicked:hover { 
  background-color:#AAA;
}
table.card td.win, table.win td.win { 
  background-color:#0F0;
}
table.card td.freecell, table.win td.freecell{
  font-weight:bold;
  background-color:#CCC;
  color:#000;
  font-size:10pt; 
}